@font-face {
    font-family: 'AcidBold';
    src: url('fonts/acid_bold.otf') format('opentype');
}

.logo-container {
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.palette-dot[data-palette="blue"] { background-color: #f2f1ec; }
.palette-dot[data-palette="green"] { background-color: #cbddd1; }
.palette-dot[data-palette="red"] { background-color: #122620; }
.palette-dot[data-palette="purple"] { background-color: #2b192e; }
.palette-dot[data-palette="orange"] { background-color: #f0dfc8; }
